.wrap {
  overflow-x: hidden;
}

body {
  min-width: 360px;
  margin: 0;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: #111;
  background-color: #FAFAFA;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

h1, h2, h3, p {
  margin: 0;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

:root {
  --container-width: 1136px;
  --container-width-tab:704px;
}

.nav {
  width: var(--container-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 28px 0 36px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.nav-menu__link {
  color: #111;
  font-family: "Montserrat" ;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px; 
  letter-spacing: -0.28px;
  transition: color 0.7s;
}

.nav-menu__link:hover {
  color: #FD9222;
}

.social-menu {
  display: flex;
  justify-content: space-between;   
  gap: 18px; 
}

.social-menu__link {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.social-menu__link svg path {
  transition: stroke 0.7s;
}

.social-menu__link svg:hover path {
  stroke: #FD9222;
}

.burger-menu {
  display: none;
}

@media (min-width:768px) and (max-width:1199px) {
  .nav {
    width: var(--container-width-tab);
    padding: 24px 0 32px;
  }

  .nav-logo img {
    width: 144px;
    height: 21px;
    margin-top: 5px;
  }

  .nav-menu {
    display: none;
  }

  .social-menu {
    display: none;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }
}

.banner {
  width: var(--container-width);
  margin: 0 auto;
  margin-bottom: 72px;
  border-radius: 20px;
  background-image: url("../images/chocolate-covered-cocoa-powder\ 1.png");
  background-size: cover;
}

.banner-wrap {
  width: 480px;
  padding: 381px 0 40px 40px;
}

.banner-slogan {
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.84px;  
  margin-bottom: 32px;
}

.banner-btn {
  width: 144px;
  height: 45px;
  margin-right: 14px;
  border: none;
  border-radius: 100px;
  background-color: #FD9222;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.7s, color 0.7s;
}

.banner-btn:hover {
  background-color: #FCF1E0;
  color: #FD9222;
}

.banner-link {
  display: inline-block;
  box-sizing: border-box;
  width: 183px;
  height: 45px;
  padding: 14px 0;
  border: 1px solid #FFF;
  border-radius: 100px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  transition: border-color 0.7s, color 0.7s;
}

.banner-link:hover {
  border-color: #FD9222;
  color: #FD9222;
}

@media (min-width:768px) and (max-width:1199px) {
  .banner {
    width: var(--container-width-tab);
    margin-bottom: 50px;
    background-image: url("../images/chocolate-covered-cocoa-powder-tab.png");
  }
  
  .banner-wrap {
    padding: 671px 0 40px 40px;
  }
}

.features-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #1E1823;
}

.features-list__item {
  flex-grow: 1;
  min-height: 344px;
}

.features-list__text-block {
  padding: 70px 18px 0 50px;
}

.features-list__text-block:before {
  content: "";
  display: inline-block;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 22px;
}

.taste:before {
  background-image: url("../images/fluent-emoji-high-contrast_chocolate-bar.svg");
}

.price:before {
  background-image: url("../images/Coin.svg");
}

.prod:before {
  background-image: url("../images/la_utensil-spoon.svg");
}

.features-list__title {
  font-weight: 600;
  color: #FFF;
  margin-bottom: 18px;
}

.features-list__text {
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  letter-spacing: -0.28px;
}

@media (min-width:768px) and (max-width:1199px) { 
  .features-list {
    flex-wrap: wrap;
  }

  .features-list__item {
     width: 50%;
     min-height: 300px;
     flex-grow: 0;
  }
  
  .features-list__text-block {
    padding: 50px 18px 0 32px;
  }
}

.adds {
  padding-top: 128px;
}

.adds-text-block {
  width: 486px;
  text-align: center;
  margin: 0 auto;
}

.adds-title-block {
  width: 411px;
  margin: 0 auto;
}

.adds-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.highlighted {
  color: #FD9222;
}

.adds-text {
  letter-spacing: -0.28px;
}

.adds-list {
  width: var(--container-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.adds-list__item {
  box-sizing: border-box;
  width: 270px;
  height: 270px;
  border-radius: 15px;
  background-color: #FFF;
}

.item1 {
  background-color: #FD9222;
}

.item3 {
  background-color: #1E1823;
}

.adds-list__img {
  width: 206px;
  height: 160px;
  margin: 0 auto;
  margin-top: 28px;
}

.adds-list__name {
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  margin: 36px 0 28px 28px;
}

.item3 .adds-list__name {
  color: #FFF;
}

@media (min-width:768px) and (max-width:1199px) { 
  .adds {
    padding-top: 100px;
  }
    
  .adds-list {
    width: var(--container-width-tab);
  }
  
  .adds-list__item {
    width: 336px;
    margin-bottom: 32px;
  }
   
  .adds-list__img {
    width: 224px;
    height: 171px;
  }
}

.process {
  padding-top: 128px;
}

.process-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 28px;  
  text-align: center;
}

.process-wrap {
  width: var(--container-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.process-img {
  width: 600px;
  height: 400px;
}

.process-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.process-text {
  box-sizing: border-box;
  width: 516px;
  height: 400px;
  border-radius: 15px;
  background-color: #FFF;
  padding: 32px;
}

.process-text__title {
  font-weight: 600;
  line-height: 24px; 
  margin-bottom: 28px;
}

.process-list {
  list-style: disc;
}

.process-list__point {
  margin-bottom: 24px;
}

@media (min-width:768px) and (max-width:1199px) { 
  .process {
    padding-top: 68px;
  }

  .process-title {
    margin-bottom: 52px;  
  }
 
  .process-wrap {
    width: 614px;
    flex-direction: column;
  }

  .process-img {
    width: 100%;
  }
  
  .process-text {
    width: 100%;
    padding-left: 32px;
  }

  .process-list__point {
    margin-bottom: 18px;
  }
}

.products {
  padding-top: 128px;
}

.products-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 28px;  
  text-align: center;
}

.product-cards {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  margin-left: 33px;
  margin-top: 50px;
  overflow-x: hidden;
}

.product-card {
  box-sizing: border-box;
  width: 270px;
  height: 364px;
  flex: 0 0 auto;
  background-color: #FFF;
}

.product-card__img {
  width: 230px;
  height: 200px;
  margin: 0 auto;
}

.product-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-info {
  width: 100%;
  margin-top: 8px;
  text-align: center;
}

.product-name {
  font-weight: 600;
  line-height: 24px; 
  letter-spacing: -0.36px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.product-description {
  color: rgba(17, 17, 17, 0.70);
  font-size: 12px;
  line-height: 14px; 
  letter-spacing: -0.24px;
  margin-bottom: 13px;  
}

.product-btn {
  width: 94px;
  height: 33px;
  border: none;
  border-radius: 100px;
  background-color: rgba(17, 17, 17, 0.10);
  color: #111;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.5s;  
}

.product-btn:hover {
  color: #FD9222;
}

.products-pagination {
  width: 210px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
}

.products-pagination__btn {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgba(17, 17, 17, 0.10);
  border: none;
  cursor: pointer;
  transition: background-color 0.7s;
}

.products-pagination__btn:hover,
.products-pagination__btn:active {
  background-color: #FD9222;
}


.top {
  padding-top: 128px;
}

.top-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 50px;    
  text-align: center;
}

.top-list {
  width: var(--container-width);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.top-list__item {
  width: 368px;
  height: 464px;
}

.top-list__item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.top-info {
  width: var(--container-width);
  margin: 0 auto;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

.top-info__text {
  width: 407px;
  font-weight: 400;
  line-height: 18px; 
  letter-spacing: -0.28px;
}

.top-info__btn {
  width: 144px;
  height: 45px;
  margin-right: 14px;
  border: none;
  border-radius: 100px;
  background-color: #FD9222;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.7s, color 0.7s;
}

.top-info__btn:hover {
  background-color: #FCF1E0;
  color: #FD9222;
}

.reviews {
  padding: 128px 0;
  text-align: center;
}

.reviews-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 50px;   
}

.reviews-list {
  width: var(--container-width);
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.reviews-list__item {
  width: 360px;
  height: 200px;
  background-color: #FFF;
}

blockquote {
  width: 100%;
  height: 100%;
  margin: 0;
}

.reviews-list__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  top: -40px;
  left: 130px;
}

.reviews-list__author {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
}

.reviews-list__quote {
  box-sizing: border-box;
  padding: 18px 24px;
  position: relative;
  top: -30px;
}

.reviews-pagination {
  width: 70px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
}

.reviews-pagination__btn {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgba(17, 17, 17, 0.10);
  border: none;
  cursor: pointer;
  transition: background-color 0.7s;
}

.reviews-pagination__btn:hover,
.reviews-pagination__btn:active {
  background-color: #FD9222;
}

.reviews-btn {
  width: 222px;
  height: 50px;
  margin-top: 50px;
  border: 1px solid #FD9222;
  border-radius: 100px;
  background-color: transparent;
  color: #111;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.7s, color 0.7s;  
}

.reviews-btn:hover {
  background-color: #FD9222;
  color: #fff;
}

.subscription {
  background-image: url("../images/Subcribe.jpg");
  background-size: cover;
}

.subscription-wrap {
  width: 467px;
  margin: 0 auto;
  padding: 72px;
  text-align: center;
}

.subscription-title {
  width: 378px;
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px; 
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 24px;
}

.subscription-text {
  color: #FFF;
  font-size: 14px;
  line-height: 20px; 
  letter-spacing: -0.28px;
  margin-bottom: 24px;
}

.subscription-btn {
  width: 144px;
  height: 45px;
  margin-right: 14px;
  border: none;
  border-radius: 100px;
  background-color: #FD9222;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.7s, color 0.7s;  
}

.subscription-btn:hover {
  background-color: #FCF1E0;
  color: #FD9222;
}

.footer {
  background-color: #1E1823;
}

.footer-top {
  width: var(--container-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.footer-text {
  width: 300px;
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.56px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-contact__title {
  color: #FFF;
  font-weight: 500;
  margin-bottom: 14px;
}

.footer-contact__phone {
  color: #FFF;
  line-height: 18px; 
  letter-spacing: -0.28px;
  margin-bottom: 10px;
}

.footer-contact__mail {
  color: #FFF;
  line-height: 18px; 
  letter-spacing: -0.28px;
}

.social-list {
  display: flex;
  gap: 18px;
}

.social-list__link {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.social-list__link svg path {
  transition: stroke 0.7s;
}

.social-list__link svg:hover path {
  stroke: #FD9222;
}

.footer-bottom {
  width: var(--container-width);
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
  padding: 24px 0 30px;
}

.footer-menu {
  display: flex;
  gap: 24px;
}

.footer-menu__link {
  color: #FFF;
  font-family: "Montserrat" ;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px; 
  letter-spacing: -0.28px;
  transition: color 0.7s;
}

.footer-menu__link:hover {
  color: #FD9222;
}
